* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.sectionA,
sectionB {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: Bold;
  font-size: 2em;
  color: white;
  background-color: blueviolet;
}
.sectionB {
  background-color: #efeded;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loan-types {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 280px 280px;
  grid-gap: 20px;
  padding: 20px;
  opacity: 0;
}
.loans {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loans img {
  object-fit: cover;
  width: 90%;
  border-radius: 20px;
  box-shadow: 10px 10px 70px -20px rgba(61, 4, 4, 0.8);
}
.loans h2 {
  padding: 20px 0;
  font-weight: bold;
  font-size: 1.7em;
  color: #1557bd;
}
footer {
  background-color: #1557bd;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
}
.icons {
  width: 50px;
}
.opacityFull {
  opacity: 1;
}
